/* <<<<<<< HEAD
<<<<<<< HEAD
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

=======
>>>>>>> 35dbe887e8b8d0141507367e6aa84a1aeb310bb0
=======

>>>>>>> c50169604a9c8e00de173d22503e3b9a7c13a54a
div.header{
    padding: 30px;
    text-align: center;
    background: purple;
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
  }

  div.movieNav{
      text-align: center;
      font-family: 'Fjalla One', sans-serif;
  }

  div.recipeNav{
      text-align: center;
      font-family: 'Fjalla One', sans-serif;
  }

  .searchTitle{
      text-align: center;
      font-family: 'Fjalla One', sans-serif;
  }

  .movieResults{
      padding: 100px;

  }

  .recipeResults{
      padding: 100px;

  } */


  #movietile {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-left: 50px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 50px;
  }

  #recipetile {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-right: 50px;
      margin-left: 50px;
      margin-top: 50px;
      margin-bottom: 50px;
  }

/* #submitMovie {
    margin-top: 20px;
    margin-bottom: 20px;
}

#drinktype {
    margin-top: 20px;
    margin-bottom: 20px;
}

#submitrecipe {
    margin-top: 20px;
    margin-bottom: 20px;
} */

#header {
    text-align: center;
    margin-bottom: 20px;
}
/* 
#randomDrink {
    position: relative;
    bottom: 20px;
    
} */